@model RVP.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<br/>
<h2>@ViewBag.Title</h2>
<div style="width:30%;margin:0 auto">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">Please provide your registered email below:</div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })  
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })    
        </div>
        <div class="form-group"> 
            @Html.ValidationSummary("", new { @class = "text-danger" })       
        </div>
        <div class="form-group">
            <center>
                <input type="submit" class="btn btn-success" value="Send password reset link" />
            </center>    
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
