@model RVP.Models.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin_master_page.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sub_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abbrevation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abbrevation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seq_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seq_cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sub_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
