@model IEnumerable<RVP.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abbrevation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seq_cd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sub_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.include_in_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abbrevation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seq_cd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sub_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.include_in_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id  }) |
            @Html.ActionLink("Details", "Details", new { id=item.id  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id  })
        </td>
    </tr>
}

</table>
