@model IEnumerable<RVP.Models.UsersModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/admin_master_page.cshtml";
}

<table class="table_style dt-responsive nowrap" border="0">
    <caption>List of users:</caption>
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.image)" class="img-circle img-thumbnail" height="40" width="40" />
                </td>

                <td valign="middle">
                    <span>@Html.DisplayFor(modelItem => item.Email)</span>
                </td>
                <td valign="middle">
                    <span>@Html.DisplayFor(modelItem => item.UserName)</span>
                </td>
                <td valign="middle">
                    <span>@Html.DisplayFor(modelItem => item.PhoneNumber)</span>
                </td>
            </tr>
        }
    </tbody>
</table>
